<form method="POST" action="/home/write">
<center>
    <h1>신이 나를 만들 때</h1>
    
    <h2>당신의 이름을 입력하시오</h2>
    <input type="text" name="title">
    
    <h2>첫 번째로 넣을 재료는?</h2>
    <input type="text" name="r1">
    
    <h2>두 번째로 넣을 재료는?</h2>
    <input type="text" name="r2">
    
    <h2>세 번째로 넣을 재료는?</h2>
    <input type="text" name="r3">
    <br>
    <br>
    <button type="submit">제출</button>
<center>
</form>
