<center>
<h2>신이 <%=@title %>을(를) 만들 때</h2>
<div>
    <img src="/spoon1.jpg" alt="1스푼 넣었다."></img>
    
    <%=@result1 %>을(를) 한 스푼 넣고,
</div>
<div>
    <img src="/spoon2.jpg" alt="2스푼 넣었다"></img>
    
    <%=@result2 %>을(를) 한 컵 넣고,
</div>
    <img src="/qualqual.jpg" alt="와르르 쏟았다!"></img>
    <%=@result3 %>을(를) 와르르 쏟아버렸다!
</div>
</center>